USE [installment_db]
GO
/****** Object:  Table [dbo].[pos_ticket_details]    Script Date: 7/20/2024 10:26:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pos_ticket_details](
	[sales_id] [bigint] IDENTITY(1,1) NOT NULL,
	[quantity] [float] NOT NULL,
	[pkg] [float] NOT NULL,
	[full_pkg] [float] NOT NULL,
	[discount] [float] NULL,
	[Total_price] [float] NOT NULL,
	[taxation] [float] NULL,
	[note] [ntext] NULL,
	[sales_acc_id] [bigint] NOT NULL,
	[prod_id] [int] NOT NULL,
	[stock_id] [float] NULL,
 CONSTRAINT [PK_pos_ticket_details] PRIMARY KEY CLUSTERED 
(
	[sales_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pos_tickets]    Script Date: 7/20/2024 10:26:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pos_tickets](
	[sales_acc_id] [bigint] IDENTITY(1,1) NOT NULL,
	[billNo] [nvarchar](50) NOT NULL,
	[date] [date] NOT NULL,
	[time] [nvarchar](50) NULL,
	[no_of_items] [nvarchar](50) NOT NULL,
	[total_qty] [nvarchar](50) NOT NULL,
	[sub_total] [float] NOT NULL,
	[discount] [float] NOT NULL,
	[tax] [nvarchar](50) NOT NULL,
	[amount_due] [float] NOT NULL,
	[paid] [float] NOT NULL,
	[advance_amount] [float] NOT NULL,
	[balance] [float] NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[customer_id] [int] NOT NULL,
	[employee_id] [int] NOT NULL,
	[total_taxation] [float] NULL,
	[macAddress] [ntext] NULL,
 CONSTRAINT [PK_pos_tickets] PRIMARY KEY CLUSTERED 
(
	[sales_acc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[pos_ticket_details]  WITH CHECK ADD  CONSTRAINT [FK_pos_ticket_details_pos_products] FOREIGN KEY([prod_id])
REFERENCES [dbo].[pos_products] ([product_id])
GO
ALTER TABLE [dbo].[pos_ticket_details] CHECK CONSTRAINT [FK_pos_ticket_details_pos_products]
GO
ALTER TABLE [dbo].[pos_ticket_details]  WITH CHECK ADD  CONSTRAINT [FK_pos_ticket_details_pos_tickets] FOREIGN KEY([sales_acc_id])
REFERENCES [dbo].[pos_tickets] ([sales_acc_id])
GO
ALTER TABLE [dbo].[pos_ticket_details] CHECK CONSTRAINT [FK_pos_ticket_details_pos_tickets]
GO
ALTER TABLE [dbo].[pos_tickets]  WITH CHECK ADD  CONSTRAINT [FK_pos_tickets_pos_customers] FOREIGN KEY([customer_id])
REFERENCES [dbo].[pos_customers] ([customer_id])
GO
ALTER TABLE [dbo].[pos_tickets] CHECK CONSTRAINT [FK_pos_tickets_pos_customers]
GO
ALTER TABLE [dbo].[pos_tickets]  WITH CHECK ADD  CONSTRAINT [FK_pos_tickets_pos_employees] FOREIGN KEY([employee_id])
REFERENCES [dbo].[pos_employees] ([employee_id])
GO
ALTER TABLE [dbo].[pos_tickets] CHECK CONSTRAINT [FK_pos_tickets_pos_employees]
GO
